<div class="row">
    <div class="col-md-3">
        <mat-form-field>
            <h4 for="category_select">Category By:</h4>
            <mat-select class="form-control" name="category_select" disableRipple id="category_select"
                [(ngModel)]="selectedCategory">
                <mat-option *ngFor="let category of productService.categories" [value]="category">{{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-9">
        <div *ngIf="productService.isLoading" style="text-align: center;">
            <mat-spinner></mat-spinner>
        </div>
        <div class="row row-cols-1 row-cols-md-4" *ngIf="!productService.isLoading">

            <div class="col mb-4"
                *ngFor="let product of products | searchByCategory:selectedCategory"
                style="cursor: pointer">
                <mat-card>
                    <img mat-card-image [src]=" productService.sanitizeUrl(product.imageUrl) " width="200px"
                        height="200px" class="card-img-top" alt="{{ product.title }}"
                        (click)="onProductSelected(product.id)">
                    <mat-card-content (click)="onProductSelected(product.id)">
                        <h5 class="card-title">{{ product.title }}</h5>
                    </mat-card-content>
                    <mat-card-actions>
                        <small class="text-muted">₹ {{ product.price }}</small>&nbsp;&nbsp;
                        <span class="right">
                            <a placement="top" mdbTooltip="Quick Look" container="body"
                                (click)="addProductToCart(product)">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </span>&nbsp;&nbsp;
                        <span class="right">
                            <a placement="top" mdbTooltip="Delete Product" container="body"
                                (click)="deleteProduct(product.id)"><i class="fa fa-trash"></i></a>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>

            <app-no-product-found 
                [title]="messageTitle" 
                [description]="messageDescription" 
                [goToLink]="goToLink"
                [goToMessage]="goToMessage" 
                *ngIf="getProductsCount() === 0">
            </app-no-product-found>

        </div>
    </div>
</div>