<div class="container">
    <div class="row"  *ngIf="product; else noProduct">
        <div class="col-sm-4">
            <mat-card>
                <mat-card-content>
                    <img mat-card-image src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.imageUrl }}" width="70%">
                    <mat-card-actions>
                    <button mat-raised-button color="primary"
                    (click)="addToCart()"
                    [disabled]="isAddedToCart">Add to Cart</button>
                    <button mat-raised-button color="accent" 
                    (click)="updateProduct()"
                    >Update</button>
                </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Details</h5>
                    <table class="table" cellspacing="0" style="max-height: 28px;">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ product.title }}</td>
                            </tr>
                            <tr *ngIf="product.category === 'Books'">
                                <th scope="row">Author</th>
                                <td>{{ product.author }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                <td>{{ product.description }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td>₹ {{ product.price }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProduct>
        <app-no-product-found 
            [title]="messageTitle" 
            [description]="messageDescription" 
            [goToLink]="goToLink"
            [goToMessage]="goToMessage">
        </app-no-product-found>
    </ng-template>
</div>